html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
    height: 100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainContainer {
    height: 100%;
}

.mid {
    height: 100%;
    display: flex;
}

.midRight {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    height: 100%;
}

.midLeft {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
    height: 100%;
}
